* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*
COLORS
*/

.primary {
  background-color: #7e1946;
  color: white;
}

.secondary {
  background-color: #f86624;
  color: white;
}

/*
BUTTONS
*/

.btn {
  width: fit-content;
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

/*
TEXT INPUTS
*/

.text-input-group {
  margin: 10px 20px;
}

.text-input-group input[type="text"] {
  height: 45px;
  width: 100%;
  padding: 0px 10px;
  border: solid 1px #000;
  border-radius: 5px;
  margin-top: 5px;
}

.text-input-group input[type="text"]:focus {
  outline: none;
  border: solid 1.5px;
}

/*
CARDS
*/

.card {
  margin: 10px 20px;
  padding: 15px;
  border: solid 1.5px #b8b8b8;
  border-radius: 5px;
}

.card .card-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card .card-body {
  margin-bottom: 20px;
}

.card .card-actions {
  display: flex;
  justify-content: flex-end;
}

/*
IMAGE
*/
.img-group {
  margin: 10px 20px;
  padding-bottom: 20px;
}

.img-group img {
  width: 100%;
  margin-bottom: 20px;
}

.img-group label {
  font-style: italic;
  font-weight: lighter;
  text-transform: lowercase;
  margin-left: 3px;
}

/*
NAVBAR
*/

.navbar {
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
}

.navbar .nav-logo {
  height: 80%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  padding-right: 20px;
  border-right: 1px solid white;
}

.navbar .nav-links {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.navbar .nav-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 25px;
  font-weight: lighter;
}

.navbar .nav-links .active {
  font-weight: 600;
}

.navbar .nav-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navbar .nav-actions .nav-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .nav-actions .nav-action a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navbar .nav-actions .nav-action i {

}

